* {
    font-family: monospace;
    font-size: 15px;
}

QWidget {
    border-width: 0px;
    border-style: none;
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
                                      stop: 0 #202020, stop: 0.75 #242728, stop: 1.0 #272D30);
}

QTabBar::tab {
    color: #B0B1B0;
    height: 1.5em;
    min-height: 1.5em;
    max-height: 2.5em;
    background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.8,
                                stop: 0.75 #384145, stop: 1.0 #4F5C61);
}

QTabBar::tab:selected {
    background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.8,
                                stop: 0.75 #272D30, stop: 1.0 #384145);
}
